/*Couleurs*/
:root{
    --vert-pomme: #6A9C89;
    --blanc-casse: #E9EFEC;
}

/*Styles généraux*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
}

body{
    /*background-image: url(../images/chantier.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Fixe l'image pour un effet de fond fixe (optionnel) */
    width: 100%;
    background-color: #E9EFEC;
}

body.no-scroll {
    overflow: hidden;
}

.logo-reseau{                                                                                                                                                                                                       /*Copyrights 2025 - Mathis Brongniart*/
    width: 35px;
}

/*Styles navbar - début*/

nav {
    position: fixed;
    background-color: #6A9C89;
    width: 100%;
    height: 100px;
    /*margin-bottom: 400px;*/
    top: 0;
    z-index: 100;
    border-bottom: 1px solid #16423C;
    box-shadow: 1px 1px 1px #16423C;
}

nav .nav-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
    height: 100%;
}

nav .nav-logo{
    width: 25%;
}

nav .logo-tete{
    width: 70px;
}

/*Styles navbar - milieu*/

nav .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

nav .nav-menu ul{
    display: flex;
    justify-content: space-between;
}

nav .nav-menu ul li{
    list-style: none;
}

nav .nav-menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}

/*Styles navbar - fin*/

nav .nav-contacts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

nav .nav-contacts ul{
    display: flex;
    justify-content: space-between;
}

nav .nav-contacts ul li{
    list-style: none;
    margin-left: 10px;
}

/*Styles main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

main .sections{
    width: 80%;
}

/*STYLES SECTION DEMMARAGE*/

main .demarrage-section {
    position: relative;
    height: calc(700px - 100px);
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: #6A9C89;
}

main .demarrage-section .demarrage-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin: 90px auto 0 auto;
    color: #fff;
}

.texte-container .titre{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.texte-container .contraste{
    color: #16423C;
}

.texte-container .texte{
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 50px;
    width: 80%;
}

.texte-container .button-apropos{
    text-decoration: none;
    color: #fff;
    background-color: #16423C;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.demarrage-container .image-container .demarrage-image{
    width: 300px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

/*STYLES SECTION PRESENTATION*/

main .presentation-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 20px 2% 100px 2%;
}

.presentation-section .introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
}

.presentation-section .introduction .introduction-logo-tete{
    width: 150px;
    margin-right: 20px;
}

.presentation-section .introduction p{
    font-size: 25px;
}

/*STYLES GENERAUX SECTIONS*/

main .main-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 20px 2% 100px 2%;
}

.main-sections .main-titres{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 2rem;
    margin-bottom: 50px;
}

.main-sections .main-titres::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

/*STYLES SECTION MA FORMATION*/
.main .formation-section .formation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formation-section .formation-container .categorie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.formation-container .categorie-container .categorie-texte{
    text-align: left;
    text-justify: inter-word;
    width: 50%;
    font-size: 17px;
}

.formation-container .categorie-container .categorie-image{
    text-align: center;
    width: 50%;
}

.categorie-container .categorie-image img{
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 200px;
}

/*STYLES SECTION BLOG*/


/*STYLES SECTION FAQ*/

main .faq-section{
    border-radius: 8px;
    width: 60%;
}

.faq-section .faq-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.faq-item .faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.faq-question h3{
    margin: 0;
    font-size: 1.2em;
}

.faq-item .faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.arrow:hover{
    cursor: pointer;
}

.faq-answer p{
    margin: 10px 0 0;
    font-size: 1em;
    color: #555;
}

/*Styles footer*/

footer{
    background-color: #16423C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 70px;
    padding: 10px 0;
    color: #E0E0E0;
}

footer .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /*height: 100%;*/
    padding: 20px 2% 0 2%;
}

footer a{
    color: #E0E0E0;
    text-decoration: underline;
}

/*Styles footer - début*/

footer .container-footer .presentation-footer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.presentation-footer .article-logo .logo{
    width: 200px;
}

.presentation-footer .presentation{
    margin-left: 20px;
}

.presentation-footer .presentation h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.presentation-footer .presentation .texte-presentation{
    font-size: 1.2rem;
    font-weight: lighter;
}

footer .presentation-footer p{
    font-size: 1.2rem;
    font-weight: 600;
}

/*Styles footer - fin*/

footer .container-footer .informations-footer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.container-localisation .coordonnee{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-localisation .coordonnee .logo-coordonnee{
    width: 35px;
    margin-right: 10px;
}

.container-reseaux .reseau{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-reseaux .reseau .texte-logo{
    margin-left: 10px;
}

.container-footer .informations-footer .localisation,
.container-footer .informations-footer .reseaux-sociaux {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-localisation,
.container-reseaux {
    flex: 1; /*Pour occuper une part égale*/
}

.localisation h4,
.reseaux-sociaux h4 {
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 10px;
}

/*Styles footer - fin*/

footer .copyright{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 40px;
}






/*CHARGEMENT STYLES*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 150px;
}

.container-loading-index{
    margin-top: 0;
}

.logo-loading {
    width: 200px;
    animation: rotate 5s linear infinite;
}

.container-main .loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main .loading-container .sous-titre{
    font-size: 20px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1600px){
    main .demarrage-section{
        height: calc(100vh - 100px);
    }
}

/**************************************PAGE COMPETENCES**************************************/

/*STYLES GENERAUX*/
main .competences-section{
    margin-top: 150px;
    width: 80%;
}

.competences-programmation-container h3, .competences-generales-container h3{
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 40px;
}

.competences-programmation-container .langages-container, .projets-container .projets-elements{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.langages-container .langage-item, .projets-elements .projet-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-right: 10px;
}

.langage-item .item .image-container, .projet-item .item .image-container{
    position: relative;
    width: 400px;
    height: 200px;
}

.item .image-container .image{
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

.item .image-container .texte-absolute{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0 0;
    border-radius: 25px;
    padding: 1px 5px;
}

.image-container .texte-absolute.vert{
    background-color: #D6F8D6;
}
.image-container .texte-absolute.jaune{
    background-color: #fff3cd;
}
.image-container .texte-absolute.rouge{
    background-color: #FF6347;
}

/*Page projets*/

.absolute-item .texte-absolute2.html{
    background-color: #FFE0CC;
}

.absolute-item .texte-absolute2.css{
    background-color: #CCE5FF;
}

.absolute-item .texte-absolute2.javascript{
    background-color: #FFF5CC;
}

.absolute-item .texte-absolute2.sql{
    background-color: #DDEBDB;
}

.absolute-item .texte-absolute2.php{
    background-color: #D3CFEA;
}

.absolute-item .texte-absolute2.python{
    background-color: #D6F0FF;
}

.absolute-item .texte-absolute2.cpp{
    background-color: #E0F0FF;
}

.absolute-item .texte-absolute2.cs{
    background-color: #E8D6FF;
}

.texte-absolute .point-absolute, .texte-absolute2{
    margin-right: 5px;
}

.texte-absolute .texte, .texte-absolute2{
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

.texte-absolute .point-absolute.vert, .texte-absolute .texte.vert{
    color: #205C20;
}

.texte-absolute .point-absolute.jaune, .texte-absolute .texte.jaune{
    color: #856404;
}

.texte-absolute .point-absolute.rouge, .texte-absolute .texte.rouge{
    color: #B22222;
}

/*Page projets*/

.absolute-item .texte-absolute2.html{
    color: #E55C00;
}

.absolute-item .texte-absolute2.css{
    color: #004C99;
}

.absolute-item .texte-absolute2.javascript{
    color: #C2A300;
}

.absolute-item .texte-absolute2.sql{
    color: #2E7D32;
}

.absolute-item .texte-absolute2.php{
    color: #5C4FA3;
}

.absolute-item .texte-absolute2.python{
    color: #306998;
}

.absolute-item .texte-absolute2.cpp{
    color: #004482;
}

.absolute-item .texte-absolute2.cs{
    color: #5A2C91;
}

.item .image-container .texte-absolute-titre{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte-absolute-titre .texte-titre{
    font-weight: 600;
    font-size: 50px;
    color: #E9EFEC;
    text-align: center;
}

.projet-item .item .description-container{
    background-color: #6A9C89;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.description-container .description-visible{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding : 10px;
    background-color: #6A9C89;
}

.description-visible .nom, .description-visible .progress-bar-fond,
.description-hidden .caracteristique, .description-hidden .progress-bar-fond,
.description-visible .progress-bar-fond-projets{
    margin-right: 5px;
}

.description-visible .nom{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.description-visible .progress-bar-fond, .description-hidden .item .progress-bar-fond, .description-visible .progress-bar-fond-projets{
    width: 100%;
    height: 25px;
    background-color: #ffffff;
    border-radius:10px;
}

.description-visible .progress-bar.percent, .description-hidden .progress-bar.percent, .progress-bar-fond-projets .animate-progress{
    width: 0;
    background-color: #C4DAD2;
    height: 25px;
    border-radius:10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    white-space: nowrap; /*Empêche le texte de se diviser en plusieurs lignes*/
}

.description-container .description-hidden{
    background-color: #6A9C89;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    width: 100%;
}

.description-container .description-hidden .item{
    display: flex;
    width: 100%;
    padding: 10px;
}

.description-hidden .item .caracteristique, .description-visible .details{
    width: 26%;
}

.description-hidden .item .progress-bar-fond, .description-hidden .item .progress-bar-fond,
.description-visible .progress-bar-fond-projets{
    width: 74%;
}

.competences-section .competences-generales-container{
    width: 100%;
    margin-top: 50px;
}

.competences-generales-container .generales-container{
    display: inline-block;
}

.competences-generales-container .generales-container{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.generales-container h4{
    font-size: 21px;
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 15px;
    color: #16423C;
}

.generales-container .general-container-item{
    margin-bottom: 40px;
}

.general-categorie{
    text-align: justify;
    font-size: 17px;
}

.general-categorie .general-item span{
    font-size: 19px;
    color: #6A9C89;
    font-weight: bold;
    text-decoration: underline;
}

/**************************************PAGE PROJETS**************************************/

/*STYLES GENERAUX*/
main .projets-section{
    position: relative;
    /*margin-top: 150px;*/
    width: 80% !important;
}

.projets-section .projets-container{
    width: 100%;
}

/*Barre de filtres*/
.projets-container .bar-filtres{
    display: flex;
    justify-content: right;
    width: 100%;
}

.bar-filtres h3{
    margin-right: 5px;
}

.bar-filtres .filtre-langages{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-end;
    width: 250px;
}

.filtre-langages .filtre-container{
    margin: 0 5px 5px 0;
}

/*Projets*/
.projets-elements{
    margin-top: 50px;
}

.projets-elements .message-container{
    display: none;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
.absolute-item{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
}

.absolute-item .texte-absolute2{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0 0;
    border-radius: 25px;
    padding: 1px 5px;
}

.texte-absolute2{
    font-size: 15px;
}

.description-visible button{
    height: 25px;
    border: none;
    border-radius: 10px;
    background-color: #E9EFEC;
}

/*Panneaux latéraux*/
.panneaux-container{
    position: fixed;
    top: 0;
    right: -300px; /* Largeur du panneau, caché à droite */
    height: 100vh;
    width: 40%;
    background-color: #6A9C89;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 50;
    margin-top: 100px;
}

.panneaux-container.open{
    right: 0;

}

.panneaux-container .panneau-lateral{
    margin: 10px 10px;
}

.panneau-lateral .closeBtn{
    background-color: var(--blanc-casse);
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
}

/**************************************PAGE A PROPOS**************************************/



/**************************************PAGE CONTACTS**************************************/

/*STYLES GENERAUX*/
main .contact-section{
    display: flex;
    margin-top: 150px;
    width: 80%;
}

/*STYLES CONTACTS*/

.contact-section .contact-article{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .contact-container{
    width: 100%;
}

.contact-container .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.contact-form .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-group label{
    margin-right: 10px;
    text-align: right;
}

.form-group input,
.form-group textarea{
    width: 400px;
    padding: 8px;
    margin-top: 10px;
}

.form-group textarea{
    height: 100px;
}

.form-group button{
    padding: 10px 15px;
    background-color: #16423C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*STYLES INFO CONTACTS*/

.contacter-titre .info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: auto;
}

.info-container .info-text{
    margin-bottom: 20px;
}

.info-container .map-container{
    width: 100%;
    height: 400px;
}

.map-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.info-container .reseaux-sociaux{
    margin-top: 20px;
}

.reseaux-sociaux h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.reseaux-sociaux .container-reseaux{
    margin-right: 20px;
}