/*Styles généraux*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    z-index: 1;
}

body{
    /*background-image: url(../images/chantier.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Fixe l'image pour un effet de fond fixe (optionnel) */
    width: 100%;
    background-color: #E9EFEC;
}

.logo-reseau{                                                                                                                                                                                                       /*Copyrights 2025 - Mathis Brongniart*/
    width: 35px;
}

/*Styles navbar - début*/

nav {
    position: fixed;
    background-color: #6A9C89;
    width: 100%;
    height: 100px;
    /*margin-bottom: 400px;*/
    top: 0;
    z-index: 100;
}

nav .nav-elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
    height: 100%;
}

nav .nav-logo{
    width: 25%;
}

nav .logo-tete{
    width: 70px;
}

/*Styles navbar - milieu*/

nav .nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

nav .nav-menu ul{
    display: flex;
    justify-content: space-between;
}

nav .nav-menu ul li{
    list-style: none;
}

nav .nav-menu a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px;
}

/*Styles navbar - fin*/

nav .nav-contacts{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 25%;
}

nav .nav-contacts ul{
    display: flex;
    justify-content: space-between;
}

nav .nav-contacts ul li{
    list-style: none;
    margin-left: 10px;
}

/*Styles main*/

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

main .sections{
    width: 80%;
}

/*STYLES SECTION DEMMARAGE*/

main .demarrage-section {
    position: relative;
    height: calc(700px - 100px);
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: #6A9C89;
}

main .demarrage-section .demarrage-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    height: 100%;
    margin: 90px auto 0 auto;
    color: #fff;
}

.texte-container .titre{
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.texte-container .contraste{
    color: #16423C;
}

.texte-container .texte{
    font-size: 1.2rem;
    font-weight: lighter;
    margin-bottom: 50px;
    width: 80%;
}

.texte-container .button-apropos{
    text-decoration: none;
    color: #fff;
    background-color: #16423C;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
}

.demarrage-container .image-container .demarrage-image{
    width: 300px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
}

/*STYLES SECTION PRESENTATION*/

main .presentation-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 20px 2% 100px 2%;
}

.presentation-section .introduction{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin-bottom: 50px;
}

.presentation-section .introduction .introduction-logo-tete{
    width: 150px;
    margin-right: 20px;
}

.presentation-section .introduction p{
    font-size: 25px;
}

/*STYLES GENERAUX SECTIONS*/

main .main-sections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    margin: 20px 2% 100px 2%;
}

.main-sections .main-titres{
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 2rem;
    margin-bottom: 50px;
}

.main-sections .main-titres::after {
    content: '';
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

/*STYLES SECTION MA FORMATION*/
.main .formation-section .formation-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formation-section .formation-container .categorie-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.formation-container .categorie-container .categorie-texte{
    text-align: left;
    text-justify: inter-word;
    width: 50%;
    font-size: 17px;
}

.formation-container .categorie-container .categorie-image{
    text-align: center;
    width: 50%;
}

.categorie-container .categorie-image img{
    border: 1px solid black;
    border-radius: 5px;
    width: 400px;
    height: 200px;
}

/*STYLES SECTION BLOG*/


/*STYLES SECTION FAQ*/

main .faq-section{
    border-radius: 8px;
    width: 60%;
}

.faq-section .faq-item{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.faq-item .faq-question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question h3{
    margin: 0;
    font-size: 1.2em;
}

.faq-item .faq-answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.arrow:hover{
    cursor: pointer;
}

.faq-answer p{
    margin: 10px 0 0;
    font-size: 1em;
    color: #555;
}

/*Styles footer*/

footer{
    background-color: #16423C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 70px;
    padding: 10px 0;
    color: #E0E0E0;
}

footer .container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /*height: 100%;*/
    padding: 20px 2% 0 2%;
}

footer a{
    color: #E0E0E0;
    text-decoration: underline;
}

/*Styles footer - début*/

footer .container-footer .presentation-footer{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.presentation-footer .article-logo .logo{
    width: 200px;
}

.presentation-footer .presentation{
    margin-left: 20px;
}

.presentation-footer .presentation h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.presentation-footer .presentation .texte-presentation{
    font-size: 1.2rem;
    font-weight: lighter;
}

footer .presentation-footer p{
    font-size: 1.2rem;
    font-weight: 600;
}

/*Styles footer - fin*/

footer .container-footer .informations-footer {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 100%;
}

.container-localisation .coordonnee{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-localisation .coordonnee .logo-coordonnee{
    width: 35px;
    margin-right: 10px;
}

.container-reseaux .reseau{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.container-reseaux .reseau .texte-logo{
    margin-left: 10px;
}

.container-footer .informations-footer .localisation,
.container-footer .informations-footer .reseaux-sociaux {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-localisation,
.container-reseaux {
    flex: 1; /*Pour occuper une part égale*/
}

.localisation h4,
.reseaux-sociaux h4 {
    font-size: 1.2rem;
    text-decoration: underline;
    font-weight: 600;
    margin-bottom: 10px;
}

/*Styles footer - fin*/

footer .copyright{
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 40px;
}






/*CHARGMEENT STYLES*/
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 150px;
}

.container-loading-index{
    margin-top: 0;
}

.logo-loading {
    width: 200px;
    animation: rotate 5s linear infinite;
}

.container-main .loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main .loading-container .sous-titre{
    font-size: 20px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 1600px){
    main .demarrage-section{
        height: calc(100vh - 100px);
    }
}

/**************************************PAGE COMPETENCES**************************************/

/*STYLES GENERAUX*/
main .competences-section{
    display: flex;
    margin-top: 150px;
    width: 100%;
}

/**************************************PAGE CONTACTS**************************************/

/*STYLES GENERAUX*/
main .contact-section{
    display: flex;
    margin-top: 150px;
    width: 80%;
}

.competences-container .langages-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 100%;
}

.langages-container .langage-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: auto;
}

.langage-item .image-container{
    position: relative;
    width: 400px;
    height: 200px;
}

.langage-item .image-container .image{
    width: 100%;
    height: 100%;
}

.langage-item .texte-absolute{
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 5px 0 0;
    background-color: rgba(255, 0, 0, 0.5);
    border-radius: 25px;
    padding: 1px 5px;
}

.texte-absolute .point-absolute{
    margin-right: 5px;
}

.langage-item .description-container{
    background-color: #6A9C89;
    width: 100%;
}

.description-container .description-visible{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #80C0A0;
}

.description-container .description-hidden{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    justify-content: space-between;
    width: 100%;
}

.description-container .description-hidden .item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin-left: 10px;
}

/*STYLES CONTACTS*/

.contact-section .contact-container{
    width: 100%;
}

.contact-container .contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;
}

.contact-form .form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.form-group label{
    margin-right: 10px;
    text-align: right;
}

.form-group input,
.form-group textarea{
    width: 400px;
    padding: 8px;
    margin-top: 10px;
}

.form-group textarea{
    height: 100px;
}

.form-group button{
    padding: 10px 15px;
    background-color: #16423C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*STYLES INFO CONTACTS*/

.contacter-titre .info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: auto;
}

.info-container .info-text{
    margin-bottom: 20px;
}

.info-container .map-container{
    width: 100%;
    height: 400px;
}

.map-container iframe{
    width: 100%;
    height: 100%;
    border: 0;
}

.info-container .reseaux-sociaux{
    margin-top: 20px;
}

.reseaux-sociaux h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.reseaux-sociaux .container-reseaux{
    margin-right: 20px;
}